<% include ./partials/header %>

<div class="container add-wrapper">
  <div class="page-header">Add Recipe</div>
  <form action="/recipes" method="POST">
    <div class="form-group">
      <label>Dish Name</label>
      <input type="text" class="form-control" name="recipe[title]" placeholder="what's cooking good looking?">
    </div>
    <div class="form-group">
      <label>Image</label>
      <input type="text" class="form-control" name="recipe[image]" placeholder="add url">
    </div>
    <div class="form-group">
      <label>Ingredients</label>
      <textarea name="recipe[ingredients]" class="form-control"></textarea>
    </div>
      <div class="form-group">
      <label>Instructions</label>  
      <textarea name="recipe[instructions]" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <a href="/recipes">Go back</a>
</div>

<% include ./partials/footer %>