<% include ./partials/header %>

<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to kitchen tbh!</h1>
    <p class="lead">This is a collection of our favorite recipes.</p>
    <a class="btn btn-success btn-lg" href="/recipes/add" role="button">New Recipe</a>
  </div>
    
  <div class="container" style="display: flex; flex-wrap: wrap;">
    <% recipes.forEach((recipe) => { %>
      <div class="card">
        <img class="card-img-top" src="<%= recipe.image %>" alt="Image of recipe">
        <div class="card-body">
          <h4 class="card-title" href="/recipes/<%= recipe._id %>"><%= recipe.title %></h4>
          <a class="btn btn-md btn-primary" href="/recipes/<%= recipe._id %>">
            View
            <i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </div>
    <% }) %>
  </div>
</div>


<% include ./partials/footer %>
