body {
  background-color: #000;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
  font-family: 'Open Sans', sans-serif;
}

#landing-header h1 {
  font-size: 5em;
  color: #fff;
  font-weight: 700;
}

a {
  color:#FFF !important;
  font-size: 1.5em !important;
}

.slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(https://images.unsplash.com/photo-1492739159057-7d1896b3c63f?ixlib=rb-0.3.5&s=8c875dac007e2b6944d9b6fb14281527&auto=format&fit=crop&w=2089&q=80) 
}
.slideshow li:nth-child(2) { 
  background-image: url(https://images.unsplash.com/photo-1466814314367-45323ac74e2b?ixlib=rb-0.3.5&s=31c79b1916964996fce25bbc568f2afd&auto=format&fit=crop&w=2644&q=80);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://images.unsplash.com/photo-1490323814405-4aa634235c2b?ixlib=rb-0.3.5&s=4e125cfc188b347155702851ddb0ba8f&auto=format&fit=crop&w=1650&q=80);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://images.unsplash.com/photo-1503767849114-976b67568b02?ixlib=rb-0.3.5&s=c9990db0eaf50beee4e5e8878de6d34d&auto=format&fit=crop&w=1650&q=80);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://images.unsplash.com/photo-1471524279812-11f70243a736?ixlib=rb-0.3.5&s=a1830a53787fe5d0bdd8c1716d42de93&auto=format&fit=crop&w=1650&q=80);
  animation-delay: 40s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: .5;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: .5;
  }
  30% {
    opacity: 0;
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: .5;
}