<html>
  <head>
    <title>Recipe Book</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
  </head>
  <body>
    <div class="ui fixed inverted menu">
      <div class="ui container">
        <div class="header item">
          <i class="spoon icon"></i>
          Recipe Book
        </div>
        <a href="/" class="item">Home</a>
        <a href="/recipes/add" class="item">New Recipe</a>
      </div>
    </div>
